#header {
  position: relative;
  font-family: Garamond, serif;
  text-align: center;
  border: 3px solid black;
  border-radius: 10px;
}

.title1 {
  color: white;
  font-size: 120px;
}

.title2 {
  color: white;
  font-size: 80px;
}

.title3 {
  color: white;
  font-size: 75px;
}
  
p {
  color: white;
  font-family: Garamond. serif;
  font-size: 30px;
}

body {
  background-color: gray;
}

#footer {
  color: white;
  position: relative;
  margin-top: 100px;
  margin-left: 1000px;
}
