header {
  padding: 10px 0;
}

header .title-1 {
  font-size: 92px;
  font-family: Garamond, serif;
  color: #510216;
}

header .title-2 {
  font-size: 58px;
  font-family: Garamond, serif;
  color: #510216;
}

header .title-3 {
  font-size: 44px;
  font-family: Garamond, serif;
  color: #510216;
}

header .row, footer .row {
  display: flex;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header p {
  font-family: Garamond, serif;
  font-size: 25px;
  color: #510216;
  padding: 0 10px;
  margin: 0;
}

body {
  background-color: #ADA9AA;
}

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('https://github.com/Lumberjack0504/daisy/blob/master/gjmtopphoto.jpg?raw=true');
  background-size: cover;
  background-repeat: no-repeat;
  height: 1000px;
}

.jumbotron h3 {
  position: relative;
  top: -350px;
  font-size: 50px;
  font-family: serif;
  color: #510216;
  border: 2px solid black;
  border-radius: 10px;
  background-color: #ADA9AA;
  opacity: 0.6;
}

footer {
  font-size: 15px:
  padding: 5px;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}
