header {
  padding: 10px 0;
}

header .title-1 {
  font-size: 96px;
  font-family: Garamond;
  color: #510216;
}

header .title-2 {
  font-size: 62px;
  font-family: Garamond;
  color: #510216;
}

header .title-3 {
  padding: 20px;
  font-size: 48px;
  font-family: Garamond;
  color: #510216;
}

header .row, footer .row {
  display: flex;
  align-items: center;
}

body {
  background-color: #ADA9AA;
}

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('https://github.com/Lumberjack0504/daisy/blob/master/gjmtopphoto.jpg?raw=true');
  background-size: contain;
  background-repeat: no-repeat;
  height: 800px;
}

.jumbotron h3 {
  font-size: 40px;
  font-family: serif;
  align-items: top;
  color: white;
}

footer {
  font-size: 15px:
  padding: 5px;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  height: 38px;
  width: 38px;
}
